<a href="https://colab.research.google.com/github/TurianoJoshua/OOP-58001/blob/main/Concepts_of_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Car:
  pass

In [ ]:
class MyNumber:
  x = 5

num1 = MyNumber()
print(num1.x)

5

In [28]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def myFunction(self):
    print("Hello, my name is",self.name)
person = Person("Hana",36)

person.myFunction()

Hello, my name is Hana

In [29]:
person.name = "james"
print(person.name)
person.myFunction()

james
Hello, my name is james

In [30]:
del person.age
person.myFunction()
print(print.name)

Hello, my name is james

AttributeError: ignored

In [26]:
class Shapes:
  def __init__(self,side):    #initial function to name the attributes
    self.side = side

  def area(self):             #method/formula to compute for the area of a square
    return self.side*self.side
  
  def display(self):          #method to display the area
    print("the area of the square is",self.area())

square = Shapes(4)
square.display()

the area of the square is 16

In [31]:
class student:
  def __init__(self,name,schoolnumber,schoolname):
    self.name = name
    self.schoolnumber = schoolnumber
    self.schoolname = schoolname
  def myFunction(self):
    print("Hello, my name is",self.name,"and my schoolnumber is",self.schoolnumber,"from the school of",self.schoolname)
person = student("Turiano,Joshua S.",202210028,"Adamson University")

person.myFunction()

Hello, my name is Turiano,Joshua S. and my schoolnumber is 202210028 from the school of Adamson University