<a href="https://colab.research.google.com/github/TurianoJoshua/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [3]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

Python Comment

In [4]:
#This is a comment
print("Hello, World")

Hello, World

Python Variable Name

In [9]:
x = 1

#single variable with multiple values
array = [1,2,3]
print(array)

#multiple variables with single value

a = b = c = "Jeff is pogi"
print(a)
print(b)
print(c)

[1, 2, 3]
Jeff is pogi
Jeff is pogi
Jeff is pogi

Casting

In [10]:
n = int(4)
print(n)

4

Type of function

In [12]:
c = "sally"
d = 5.6

print(type(c))
print(type(d))

<class 'str'>
<class 'float'>