<a href="https://colab.research.google.com/github/TurianoJoshua/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [3]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

Python Comment

In [4]:
#This is a comment
print("Hello, World")

Hello, World

Python Variable Name

In [9]:
x = 1

#single variable with multiple values
array = [1,2,3]
print(array)

#multiple variables with single value

a = b = c = "Jeff is pogi"
print(a)
print(b)
print(c)

[1, 2, 3]
Jeff is pogi
Jeff is pogi
Jeff is pogi

Casting

In [10]:
n = int(4)
print(n)

4

Type of function

In [12]:
c = "sally"
d = 5.6

print(type(c))
print(type(d))

<class 'str'>
<class 'float'>

Double Quotes and Single Quote

In [15]:
y = "Josh"
y = 'Josh'

Case Sensitive

In [14]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variable

In [13]:
x, y, z = "one","two","three"
print(x)
print(y)
print(z)

one
two
three

One Value to multiple variables

In [16]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variable

In [17]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

Arithmetic Operations

In [18]:
x = 5
y = 3
print(x+y)

8

Assignment operators

In [19]:
a,b,c=0,-1,6
c%=3
c

0

Comparison Operators

In [25]:
x = 5
y = 4
x == y

False

Logical operators

In [27]:
a,b,c = 0,-1,6
a>b and c>b
True

True

identity operators

In [28]:
a,n,c = 0,-1,5
a is c
False

False

Bitwise operators