<a href="https://colab.research.google.com/github/TurianoJoshua/OOP-58001/blob/main/List%2C_Tuple%2C_and_Set_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [12]:
class persons:
  def __init__(self,length,width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width

rectangle = persons(10,5)
rectangle.area()

50

In [22]:
class Persons:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def func(self):
    print("my name is " + self.name +" and my age is "+ self.age)

f1 = Persons("Joshua Turiano", "19")
f1.func()

my name is Joshua Turiano and my age is 19

List

In [26]:
pi = 3.14159
varList = ["abc",1,"def,",2]
print(varList[0])

varList.append("ghi")
print(varList)
varList.remove(2)
print(varList)
varList.insert(3,3)
print(varList)

abc
['abc', 1, 'def,', 2, 'ghi']
['abc', 1, 'def,', 'ghi']
['abc', 1, 'def,', 3, 'ghi']

Dictionaries

In [28]:
Students = {
    1:"kuya",
    2:"coco",
    3:"yara",
    4:"cokefloat",

}
print(Students)

{1: 'kuya', 2: 'coco', 3: 'yara', 4: 'cokefloat'}