<a href="https://colab.research.google.com/github/TurianoJoshua/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop Statement

In [ ]:
week = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [ ]:
week = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")

for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
week = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")

for x in week:
  if x=="Thursday":
    print(x)
    break

Thursday

In [ ]:
week = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")

for x in week:
  if x=="Thursday":
    break
  print(x) #it display from sunday to wednesday

Sunday
Monday
Tuesday
Wednesday

In [ ]:
week = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")

for x in week:
  if x=="Tuesday":
    print(x)
  if x=="Wednesday":
    print(x)
    break

Tuesday
Wednesday

Looping through a string

In [ ]:
for x in "week":
  print(x)

w
e
e
k

Nested Loops

In [ ]:
adjective = ["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While loop

In [ ]:
i=1
while i<=6:
  print(i)
  i+=1 #i=i+1 Assignment operator

1
2
3
4
5
6

While loop with break statement

In [52]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [53]:
i=1
while i<6:
  if i==3:
    print(i) #print only 3
    break
  i+=1

3

The Else Statement

In [54]:
i = 1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [62]:
i = 0
while i<=10:
  print("Hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [63]:
i = 9
while i>= 3:
  print(i)
  i-=1

9
8
7
6
5
4
3